
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}
header{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
header nav{
    display: flex;
    gap: 10px;
    width: 40%;
}
header nav a{
    font-size: 1.2rem;
    padding:4px;
    background: #fff;
    border: 1px solid #ddd;
}
h1 {
    font-size: larger;
    color: #5a5a5a;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
a {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}
a:hover {
    text-decoration: underline;
}
form {
    display: inline-block;
}
button {
    background: #ff4d4d;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}
.form-section{
    padding: 12px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}